<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Cliente Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


  <ion-card>

    <ion-card-header *ngIf="form" color="primary">
      <ion-grid>
        <ion-row>
          <ion-col col-4 class="ion-no-padding ion-no-margin">

            <div class="ion-text-end">
              <ion-icon name="trash" size="large" (click)="deleteAlertConfirm()"></ion-icon>             
            </div>
           
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-8 class="ion-no-padding ion-no-margin">
              <div style="text-align: center;">
               
                <!--
                <img [src]="cliente.foto" style="width: 40%; border-radius: 50%;">
                -->

                <img [src]="imagemExibicao" style="width: 40%; border-radius: 50%;">

                <ion-icon name="create" size="large" (click)="exibirActionSheet()"></ion-icon>

              </div>
              

              <div class="ion-text-center ion-text-uppercase">
                <ion-label>{{cliente.id}}</ion-label>
              </div>

              
            </ion-col>
        </ion-row>
      </ion-grid>
     

    </ion-card-header>
    
    <ion-card-content>
      

      <ng-container *ngIf="form">
        <form>
          <ion-item>
            <ion-label position="fixed"> <strong>Nome</strong></ion-label>
            <ion-input type="text" name="nome" [(ngModel)]="cliente.nome" [disabled]="!modoEdicao"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="fixed"> <strong>E-mail</strong></ion-label>
            <ion-input type="text" name="email" [(ngModel)]="cliente.email" [disabled]="!modoEdicao"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="fixed"><strong>Telefone</strong></ion-label>
            <ion-input type="number" name="telefone" [(ngModel)]="cliente.telefone" [disabled]="!modoEdicao"></ion-input>
          </ion-item>

          <ion-item *ngIf="modoEdicao">
            <ion-label position="fixed">Descricao</ion-label>
            <ion-textarea name="descricao" [(ngModel)]="cliente.descricao"></ion-textarea>
          </ion-item>

          <ion-item *ngIf="!modoEdicao">
            <ion-label position="fixed">Descricao</ion-label>
            <ion-textarea>{{cliente.descricao}}</ion-textarea>
          </ion-item>


          <!--
          <ion-button (click)="deletar()" color="danger" expand="block">
            Excluir
          </ion-button>
         
          -->

          

          <ion-button	*ngIf="!modoEdicao" shape="round" color="primary" expand="block" padding	(click)="iniciarEdicao()">
				    Alterar	dados
          </ion-button>

          <div *ngIf="modoEdicao" no-padding>
            <ion-grid>
                <ion-row>
                    <ion-col col-6 >
                        <ion-button shape="round" color="success" size="small" padding expand="block"  (click)="editar()">
                            Gravar
                        </ion-button>
                    </ion-col>
                    
                    <ion-col col-6>
                        <ion-button shape="round" color="warning" size="small" padding expand="block" (click)="cancelarEdicao()">
                            Cancelar
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
          </div>
        </form>
      

      </ng-container>

      
    </ion-card-content>

  </ion-card>


</ion-content>
